---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
IndentCaseLabels: false
AccessModifierOffset: -8
SortIncludes: false
DerivePointerAlignment: False
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ColumnLimit: 100